<!doctype html>
<html>
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Alleviate</span>
    </nav>

  </head>


  <body>
    <div class="container">
      {% with messages = get_flashed_messages() %} {% for message in messages %}
      <div class="alert alert-warning">{{ message }}</div>
      {% endfor %} {% endwith %}
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h4>Alleviate</h4>
          </div>
          <div class="card-body">
            <form class="bc-login" action="/login" method="post">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-user-circle"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="email"
                  name="email"
                />
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-key"></i
                  ></span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  placeholder="password"
                  name="password"
                />
              </div>
            <button type="button" class="btn btn-primary">
                Submit
            </button>
            
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
     
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>

  </body>
</html>